<h1> About Samtify </h1>

<p id="about"> Welcome to Samtify! This application was created in November 2020 by
 Marisa You, Alexa Gamil, and Steve Ibanez. 
 <br>
 <br>
 <br>
 Please feel free to explore our music library through the navigation bar at the top 
 of the screen. You will have the freedom to create your own custom playlists 
 from our library. Other features include subscribing to your favorite artists,
 listening to other users' playlists, and favoriting playlists. Enjoy! </p>