<h1>Artists</h1>

<%= form_tag artists_path, method: :get do %>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "Search" %>
<% end %>

<% @artists.each do |artist| %>
    <p><%= link_to artist.name, artist %></p>
<% end %>