<h1> Edit your SAMtify account! </h1>
<%= render 'form'%><br/>

<%=button_to 'Delete this account', current_user, method: :delete, data:{confirm: 'Are you sure you want to permanently delete this account?'}%>
<br/>
<%=link_to 'Home', current_user%>