<h1>Welcome, <%= @user.name %></h1>

<h2>Here are your playlists!</h2>
<ul>
<%@user.playlists.each do |playlist|%>
<li><%= playlist.name%></li>
<% end %>
</ul>

<%=button_to 'Create a new playlist!', new_playlist_path%>