/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 
body {
    background-color: #282828;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: x-large;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
}

h1{ /* Header Properties */
    color: #3AAFA9;
    text-align: center;
    font-size: 60px;
}

.search{
    margin: auto;
    text-align: center;
}

a:link{
    color: #DEF2F1;
}

a:visited{
    color: #DEF2F1;
}

.nav{
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px ;
    background-color: #3AAFA9;
}

.nav_select{
    display: inline;
    padding: 10px;
}

.song_text{
    font-size: 20px;  
}

form input[type="submit"]{
    padding: 20px;
    color: #3AAFA9;
    font-weight: bold;
    font-size: large;
    background: #DEF2F1;
}

form input[type="password"]{
    padding: 20px;
    color: #3AAFA9;
    font-weight: bold;
    font-size: large;
    background: #DEF2F1;
}

form input[type="text"]{
    padding: 20px;
    font-size: large;
}

.button{
    display: flex;
    justify-content: center;
}

#update_btn{
    display: flex;
}

th, td{
    padding: 10px;
}


