// Place all the styles related to the Songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.grid div:hover{
    color: #C99B2D;
}

h1{
    margin-bottom: 15px;
}

h2{
    margin-top: 15px;
    margin-bottom: 15px;
}

#song-show{
    text-align: center;
}
